UI/node_modules
### maven ###
target/
*.class
*.jar
*.war
*.ear
*.logs

!.mvn/wrapper/maven-wrapper.jar

### STS ###
mvc/.apt_generated
mvc/.classpath
mvc/.factorypath
mvc/.project
mvc/.settings
mvc/.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

*.flattened-pom.xml
*.DS_Store