UI/node_modules
### maven ###
target/
*.class
*.jar
*.war
*.ear
*.logs

!.mvn/wrapper/maven-wrapper.jar

### STS ###
model/.apt_generated
model/.classpath
model/.factorypath
model/.project
model/.settings
model/.springBeans

### IntelliJ IDEA ###
.idea/
model/.idea
*.iws
*.iml
*.ipr